html {
  background-color: #e0dfdf
}

.registration-page h2 {  
  text-align: center;
}

.registration-page p {
  text-align: center;
  font-style: italic;
}

.login-page h2 {  
  text-align: center;
}

