
html::after {
  background-image: url('../../resources/pepper-hot-solid.svg');
  background-color:#808080;
  background-size:100px;
  height: 100vh;
  position: fixed;
  opacity: 0.1;
  padding:0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; 
  content: "";
}

html {
  overflow:auto;
}

input {
  box-shadow:1px 1px 4px black;
}

.registration-page h2 {  
  text-align: center;
}

.registration-page p {
  text-align: center;
  font-style: italic;
  margin:5px;
}

.login-page h2 {  
  text-align: center;
}

