.langContainer{
  background: linear-gradient(90deg, rgba(209, 22, 2, 0.35) 0%, rgba(252, 252, 252, .35) 36%,rgba(252, 252, 252, .35) 62%, rgba(2, 94, 23, .35) 100%);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0px 10px 1px #000000de;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-top: 10px;
}

ul{
  margin: 0 auto;
  padding: 0;
}
.word{
  width: 33%;
  text-align: left;
  
}

.Word-list {
  width:100%;
}
.incorrect{
  
  width: 33%;
  text-align: left;
  color: red;
  
}
.correct{
  
  width: 33%;
  text-align: left;
  color: green;
}

li{
  list-style-type: none;
  border-radius: 2px;
  padding: 1px 1px 1px 15px;
  background: #ffffff61;
  display: inline-flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 10px;

}

li h4{
  text-align: left;
  display: inline-block;
  margin: 0;
}

li span{
  margin-right: 10%;
}

.total{
margin: 10px;
}

/* .start-practicing{
  width:30%;
  margin-top: 15px;
  background-color: #43d0957d;
  box-shadow: 2px 2px 4px 0px;
  border:none;
  border-radius: 4px;
  height:25px;
  font-size: 1.2em;
} */

.start-practicing {
  
    -webkit-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    border:none;
    margin: 20px auto;
    width: 250px;
    border-radius: 4px;
    height: 50px;
    color: black;
    box-shadow:rgba(0, 0, 0, 0.459) 0 0px 0px 2px inset;
    background: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
}

a{
  text-decoration: none;
}

a .start-practicing:hover{
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 0, 0.459) 0 0px 0px 40px inset;
  cursor: pointer;

}

@media screen and (max-width:500px) {
  html::after {
    min-height:160vh;
  }
  
  .langContainer {
    width:95%;
    padding-bottom: 5px;
    margin-bottom:10px;
  }

  ul {
    width:100%;
  }
  ul li {
    width:100%;
    padding:5px;
  }

  li h4 {
    margin-top:25%;
  }
  .start-practicing {
    width:100%
  }

}

@media screen and (max-width:320px) {
  html::after {
    min-height:210vh;
  }
}